<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <springProfile name="default,dev,development">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %5p [%8.8X{correlationId}] %40.40c{1} : %m%n</pattern>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>

        <logger name="com.example.importease" level="DEBUG"/>
    </springProfile>

    <springProfile name="prod,production">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %5p [%8.8X{correlationId}] %40.40c{1} : %m%n</pattern>
            </encoder>
        </appender>

        <root level="WARN">
            <appender-ref ref="CONSOLE"/>
        </root>

        <logger name="com.example.importease" level="INFO"/>
    </springProfile>

    <springProfile name="test">
        <root level="WARN">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>
</configuration>